<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PersonaDefinitions" type="CloudAwesome.PortalTestFramework.Models.PersonaDefinition, CloudAwesome.PortalTestFramework" />
  </configSections>

  <appSettings>
    <add key="BaseUrl" value="https://awesome-sandbox.microsoftcrmportals.com/"/>
    <add key="BrowserType" value="Firefox"/>
    <add key="RunBrowserHeadless" value="true"/>
  </appSettings>

  <PersonaDefinitions>
    <Personae>
      <add Id="arthur" UserName="arthur" UserPassword="zxasq1!" AuthenticationType="Local" />
      <add Id="peter" UserName="peter" UserPassword="Test@123" AuthenticationType="Local" />
    </Personae>
  </PersonaDefinitions>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
